
/* === === === === === === === === === === FONTS === === === === === === === === === === */

@import url("https://use.typekit.net/lgd3ehl.css");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

@font-face {
    font-family: apercu;
    src: url(../fonts/ApercuPro-ExtraLight.ttf);
}
/* === === === === === === === === === === GENERAL === === === === === === === === === === */


html{
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    padding: 30px;
    scroll-behavior: smooth;
}

/* === === === === === === === === === === PANTALLA DE CARGA === === === === === === === === === === */


.pantallaCarga {
    background-image: url(../imagenes/carga.jfif);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    animation-name: pantalladecarga;
    animation-duration: 10s;
    top: -100vh;
    line-height: 50px;

}

.pantallaCarga p {
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-size: 30px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 6px #000;
}


.textCarga a {
    font-family: 'Josefin Sans', sans-serif;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    text-shadow: 2px 2px 6px #000;
}


@keyframes pantalladecarga {

    0% {
        top: 0;
    }

    70% {
        top: 0;
    }

    100% {
        top: -100vh;
    }
}

/* === === === === === === === === === === HEADER === === === === === === === === === === */


.header {
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {

    height: auto;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
    color: #000;
    font-weight: 900;
}


.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 30px;
}

ul li {
    position: relative;
    font-family: apercu;
    font-size: 15px;
    letter-spacing: 1px;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

li a:hover {
    color: #535151;

}

.submenu {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.562);
    width: 150%;
    list-style: none;
    visibility: none;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a {
    display: inline-block;
    padding: 12px;
}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

/* === === === === === === === === === === HOME === === === === === === === === === === */
.imagenIndex1 {
    background-image: url(../imagenes/expo1.jpg);
    background-size: cover;
    background-position: center;
    height: 570px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}


.imagenIndex1text {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 30px;
}

/* === === === === === === === === === === PAINTINGS === === === === === === === === === === */

.tabPaintings {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin: 20px auto 20px auto;
}

.contenedorPaintings {
    height: min-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.contenedorPaintings1 {
    background-image: url(../imagenes/theshaman2021.jpg);
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 450px;
}

.contenedorPaintings2 {
    background-image: url(../imagenes/elsueñodelarazon2020.jpg);
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 450px;
}

.contenedorPaintings3 {
    background-image: url(../imagenes/arugratsdream2021.jpg);
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 450px;
}

.contenedorPaintings4 {
    background-image: url(../imagenes/thecommute2020.jpg);
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 450px;
}

.añosPaintings {
    font-family: apercu;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

/* === === === === === === === === === === EXHIBITIONS === === === === === === === === === === */

.exhibition h4{
    font-family: apercu;
    font-weight: bold;
    padding: 20px 0 20px 0;
}

.exhibition1{
    background-image: url(../imagenes/expo1.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
}

/* === === === === === === === === === === ABOUT === === === === === === === === === === */

.contenedorAbout {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 500px;
}

.contenedorCharo {
    background-image: url(../imagenes/charo.jfif);
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 50%;
}

.contenedorCharoTexto {
    width: 50%;
    font-family: apercu;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    height: 450px;
    line-height: 35px;
    text-align: justify;
}

.contenedorCharoTexto h3 {
    padding: 0px 0px 15px 0px;
    font-size: 20px;
    letter-spacing: 1px;
}

/* === === === === === === === === === === CONTACT === === === === === === === === === === */


.contenedorForm {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.contenedorForm h2 {
    font-family: apercu;
    font-size: 22px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

form {
    width: 52%;
}

.formInput {
    font-family: apercu;
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 100%;
    padding: 20px;
}

.formInput::placeholder {
    color: black;
    font-weight: bold;
}

.boton {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.inputBoton {
    padding: 10px 50px 10px 50px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: apercu;
    font-weight: bold;
    background-color: transparent;
    letter-spacing: 1px;
    cursor: pointer;
}

.inputBoton:hover {
    background-color: #000;
    color: #fff;
}

.contenedorContact {
    font-family: apercu;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    padding: 20px;
    row-gap: 15px;
}

.contenedorDatos {
    display: flex;
    justify-content: center;
}

.contenedorDatos1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 50px;
    align-items: center;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 25px;
}

.icon {
    transform: scale(1.6);
}

.icon:hover {
    cursor: pointer;
    transform: scale(2);
    transition: all 0.5s ease-in;
}

/* === === === === === === === === === === SHOP === === === === === === === === === === */

.containerPrincipal{
    margin: 0;
}
.card{
 padding: 0;
 margin: 10px;

}

.shopPinturas{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
}

.card-title{
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;

}

.card-text{
    font-size: 14px;
    font-family: apercu;
    font-weight: bold;
}

.tamaño{
    height: 320px;
    width: 100%;
    object-fit:cover;
    margin:0;
    
}

.btn{
    background-color: black;
    color: white;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;

}

.btn:hover{
    color: grey;
}

  /* === === === === === === === === === === CART === === === === === === === === === === */


.boton{
    font-size: 13px;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
}

.cart{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
}

.tamañoImgCart{
    height: auto;
    width: 150px;
}

.whole{
    height: 100vh;
}

.hide{
    height: 0;

}


  /* === === === === === === === === === === FOOTER === === === === === === === === === === */

    footer {
        width: 100%;
        margin-top: 40px;
        height: 100px;
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .copyright {
        font-family: apercu;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 14px;
        color: #000;
    }

    .inicioPagina {
        background-color: black;
        height: 40px;
        width: 40px;
        border-radius: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: fade 1.2s alternate infinite;
    }

    .arrow {
        display: flex;
        justify-content: center;
        color: white;
    }


    @keyframes fade {
        0% {
            transform: scale(0.6);
        }

        100% {
            transform: scale(0.9);
        }
    }